{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.mdoc",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
